<!-- wp:template-part {"slug":"header","theme":"hello-agency","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"border":{"top":{"color":"var:preset|color|background-alt","width":"1px"},"right":{},"bottom":{"color":"var:preset|color|background-alt","width":"1px"},"left":{}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group" style="border-top-color: var(--wp--preset--color--background-alt); border-top-width: 1px; border-bottom-color: var(--wp--preset--color--background-alt); border-bottom-width: 1px">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
  <div class="wp-block-group" style="padding-top: var(--wp--preset--spacing--80); padding-bottom: var(--wp--preset--spacing--80)">
    <!-- wp:query {"queryId":21,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30","padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
      <div class="wp-block-group" style="padding-right: var(--wp--preset--spacing--30); padding-bottom: var(--wp--preset--spacing--40); padding-left: var(--wp--preset--spacing--30)">
        <!-- wp:post-featured-image {"isLink":true,"height":"280px","align":"wide"} /-->

        <!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"className":"is-style-title-hover-secondary-color","fontSize":"x-large"} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="padding-top: 0; padding-bottom: var(--wp--preset--spacing--40)">
          <!-- wp:post-author-name /-->

          <!-- wp:post-date /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-excerpt /-->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hello-agency","area":"footer"} /-->
